<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF List</title>
    <!-- BootstrapのCDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .list-link {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1000; /* 十分高い値を設定 */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <!-- リストページへのリンクを右上に追加 -->
        <div class="list-link">
            <a href="{% url 'upload_pdf' %}" class="btn btn-secondary">アップロード</a>
        </div>
        <h2 class="mb-4">アップロードされたPDF一覧</h2>
        <div class="row">
            {% for document in documents %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ document.title }}</h5>
                            <p class="card-text">アップロード日: {{ document.uploaded_at }}</p>
                            <a href="{% url 'document_detail' document.pk %}" class="btn btn-primary d-inline-block">詳細を見る</a>
                            <!-- 削除ボタンを追加 -->
                            <form method="POST" action="{% url 'document_delete' document.pk %}" class="mt-2 d-inline-block">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- BootstrapのJSと依存するPopper.jsのCDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>