# Ignore myenv folder
book_project/myenv/

# Ignore other common files and folders
node_modules/
*.log
*.env
.DS_Store

# Ignore Python virtual environments
venv/
*.pyc
__pycache__/

研究.emmx
研究.xmind

book_cat_utf8_noruby.html
book_cat.html
kisosemi2024-3reading.pdf

book_project/db.sqlite3
book_project/media/

